body{
    margin: 0;
    font-family: nunito;
    backdrop-filter: blur(10px);
    background-image: url(Screenshot\ 2025-09-12\ at\ 00.40.47.png);
    background-repeat: repeat-x;
    background-size: cover;
    height: 100vh;
    animation: move 100s linear infinite;
    background-color: black;

}
.nav{
    display: flex;
    padding: 1vw;
    border-bottom: 1px solid gray;
    align-items: center;
    justify-content: space-between;
}
.nav .links a{
    text-decoration: none;
    color: white;
}
.nav .links{
    gap: 4vw;
    display: flex;
}
.nav img{
    height: 30px;
    width: 100px;
}
.nav .li{
    color: rgb(6, 255, 98);
    text-decoration: none;
}
.main #contact h1{
    color: white;
    font-size: 44px;
}
.main #contact p{
    color: rgb(218, 218, 218);
}
.main #contact h3{
    color: white;
    font-size: 36px;
}
.main #contact a img{
    filter: invert(89%) sepia(0%) saturate(0%) brightness(100%);
    height: 30px;
    width: 30px;
    margin-top: 2vw;
}
.main #contact a{
    text-decoration: none;
}
.main {
    display: flex;
    margin: 15% 20px;
}
.main .input input{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 2.3vw;
    line-height: 2vw;
    margin-top: 1.4vw;
    border-radius: 14px;
    background-color: rgb(133, 131, 147);
    border: none;
    outline: rgb(218, 218, 218);
    color: rgb(255, 255, 255);
    padding: 0 12px;
    
}
.main .input{
    background-color: rgb(106, 105, 108);
    padding: 3vw;
    margin-top: 1vw;
    border-radius: 17px;
    opacity: 0.7;
}
.main .input input::placeholder {
    color: rgb(218, 218, 218); /* your desired color */
    opacity: 1; /* ensures the color is fully applied in some browsers */
    padding: 0px 12px;
}
.main #contact a{
    color:  rgb(218, 218, 218);
    margin-top: 2vw;
}
.main{
    padding: 2vw;
}
.nav .links a:hover{
    transform: scale(1.2);
    transform: translate(-2px,-2px);
}
.nav img:hover{
    transform: scale(1.2);
}
@keyframes move {
    from{
        background-position: 0 0;
    }
    to{
        background-position: -10000px 0;
    }
}
.main #contact h1,
.main #contact p,
.main #contact h3,
.main #contact a {
    animation: textFade 1.2s ease-in forwards;
}
@keyframes textFade {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}